body{
    background-color:rgb(130, 41, 41);
    color: white; 
}

.main-title{display:flex;  
    justify-content: center;
    font-weight:bold;
    font-size: 42;
    padding : 0;
    margin : 0; 
}

.box{                           
    background-color:#a15f71
}
.inside {
    flex: 1;
    padding:10px;
    background-color: rgb(231, 230, 230);
    text-align:center;
}

.main { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    position:relative;
        margin:10px;
        left:43%;
       
        font-size:32;
        z-index: -1;
        border: groove rgb(219, 66, 39);
        border-width: 1em;
        width:fit-content;
        background-image: linear-gradient(to left, beige,rgb(56, 21, 21));
        text-shadow: 1px 1px rgb(32, 31, 36);
        
}